# Juce and Frut directories
# (used to generate the CMake)
JUCE/
FRUT/

# CMakeLists.txt.user file
AudioDistortion/CMakeLists.txt.user

# QtCreator build files
AudioDistortion/Builds/Debug
AudioDistortion/Builds/Release

# My cartella prove ~Simo
CMLS_HW2/

# The rest
AudioDistortion/Builds/
AudioDistortion/JuceLibraryCode/
AudioDistortion/AudioDistortion.jucer
